<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="language" name="Language" schema="schema/language.exsd"/>
   <extension-point id="modules" name="Modules" schema="schema/modules.exsd"/>
   <extension point="org.eclipse.ui.services">
      <serviceFactory factoryClass="org.eclipse.ease.service.ScriptServiceFactory">
         <service serviceClass="org.eclipse.ease.IScriptService"/>
      </serviceFactory>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.core.resources.IFile" class="org.eclipse.ease.adapters.ScriptableAdapter">
         <adapter type="org.eclipse.ease.IScriptable">
         </adapter>
      </factory>
      <factory adaptableType="java.io.File" class="org.eclipse.ease.adapters.ScriptableAdapter">
         <adapter type="org.eclipse.ease.IScriptable">
         </adapter>
      </factory>
   </extension>
   <extension point="org.eclipse.ecf.filetransfer.urlStreamHandlerService">
      <urlStreamHandlerService protocol="workspace" serviceClass="org.eclipse.ease.urlhandler.WorkspaceURLStreamHandlerService">
      </urlStreamHandlerService>
   </extension>
   <extension point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator class="org.eclipse.ease.debugging.ScriptSourceLocator" id="org.eclipse.ease.sourceLocator.generic" name="Generic Script Source Locator">
      </sourceLocator>
   </extension>
   <extension point="org.eclipse.ease.modules">
      <module class="org.eclipse.ease.modules.EnvironmentModule" name="Environment" visible="false">
      </module>
   </extension>
   <extension point="org.eclipse.help.toc">
      <toc file="help/scripting_book.xml" primary="true">
      </toc>
   </extension>

<extension point="org.eclipse.help.toc">
<toc file="help/modules_toc.xml" primary="false"/>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         category="org.eclipse.ease.preferences.root"
         class="org.eclipse.ease.preferences.ModulesPage"
         id="org.eclipse.ease.preferences.modules"
         name="Modules">
   </page>
   <page
         class="org.eclipse.ease.preferences.ScriptingPage"
         id="org.eclipse.ease.preferences.root"
         name="Scripting">
   </page>
</extension>
<extension
      point="org.eclipse.ease.language">
   <engine
         class="org.eclipse.ease.engine.JavaEngine"
         id="org.eclipse.ease.engine.native"
         name="Native"
         priority="0">
   </engine>
</extension>
</plugin>
