<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.language">
      <scriptType
            extension_file="js"
            type="JavaScript">
      </scriptType>
      <engine
            class="org.eclipse.ease.engine.javascript.rhino.RhinoScriptEngine"
            id="org.eclipse.ease.javascript.rhino"
            name="JavaScript (Rhino)"
            priority="10">
         <supportedScriptType
               type="JavaScript">
         </supportedScriptType>
      </engine>
      <moduleWrapper
            class="org.eclipse.ease.engine.javascript.rhino.RhinoModuleWrapper"
            engineID="org.eclipse.ease.javascript.rhino">
      </moduleWrapper>
      <launchExtension
            class="org.eclipse.ease.modules.BootStrapper"
            engineID="org.eclipse.ease.javascript.rhino">
      </launchExtension>
   </extension>
   <extension
         point="org.eclipse.ease.storedscript.metadata">
      <parser
            id="JavaScriptMetadaHeaderParser"
            parser_class="org.eclipse.ease.engine.javascript.rhino.JavascriptHeaderParser">
         <script_type
               type="JavaScript">
         </script_type>
      </parser>
   </extension>

</plugin>

