<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.newWizards">
    <category
            id="org.eclipse.newWizard.category.ease"
            name="Scripting Examples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
    <wizard
          category="org.eclipse.ui.Examples/org.eclipse.newWizard.category.ease"
          class="org.eclipse.ease.lang.javascript.examples.ExampleWizards"
          icon="icons/eclipse_monkey_js.png"
          id="org.eclipse.newWizard.javascriptExamples"
          name="JavaScript Examples">
    </wizard>
   </extension>
</plugin>
