<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.ease.modulesDocumentationBuilder"
         name="Module Documentation Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.eclipse.ease.tools.helpgenerator.ModuleDocumentationBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.ease.helpgenerator.addBuilder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <iterate>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.ease.moduleDocBuilder.isEnabled">
                        </test>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ease.helpgenerator.removeBuilder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.ease.moduleDocBuilder.isEnabled">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ease.tools.helpgenerator.commands.AddModuleDocBuilder"
            id="org.eclipse.ease.helpgenerator.addBuilder"
            name="Add Module Doc Builder">
      </command>
      <command
            defaultHandler="org.eclipse.ease.tools.helpgenerator.commands.RemoveModuleDocBuilder"
            id="org.eclipse.ease.helpgenerator.removeBuilder"
            name="Remove Module Doc Builder">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.ease.tools.helpgenerator.propertytester.TestBuilderEnabled"
            id="org.eclipse.ease.helpgenerator.moduledocbuilder"
            namespace="org.eclipse.ease.moduleDocBuilder"
            properties="isEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
